html{
    font-size: 62,5%;
}

body{
    font-family: 'Roboto', sans-serif;
}

header{
    position: sticky;
    top: 0%;
}
a{
    text-decoration: none;
}

.logo{
    width: 100px;
    height: 100px;

}

.menuPrincipal{
    background-color: #f2c329a4;
    display: flex;
    justify-content: space-around;
}


ul{
    list-style-type: none;
}

.menuPrincipal ul li{
    display: inline-block;
    padding: 30px 30px

}

.contenedor{
    display: grid;
    grid-template-rows: 0.25fr 1fr 1fr 0.30fr;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    grid-template-areas: 
    "menu menu"
    "fotos fotos"
    "lacteos lacteos"
    "footer footer"
    ;
    overflow-x: hidden
    ;
}


.header{
    grid-area: menu;
}

.main{
    grid-area: fotos; 
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.section{
    grid-area: lacteos;

}

.footer{
    grid-area: footer;
    display: flex;
    justify-content: space-around;
}

#fondoNegro{
    color: black;
}

.fotos__primeraFoto{
    background-position: -8px center;
    background-repeat: no-repeat;
    background-size: cover;

    padding: 20px;

    width: 300px; 
    height: 200px; 

    display: inline-block;

}

.fotos__segundaFoto{
    background-position: -8px center;
    background-repeat: no-repeat;
    background-size: cover;

    padding: 20px;

    width: 300px; 
    height: 200px; 

    display: inline-block;

}

.fotos__terceraFoto{
    background-position: -8px center;
    background-repeat: no-repeat;
    background-size: cover;

    padding: 20px;

    width: 300px; 
    height: 200px; 

    display: inline-block;
}

.article{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 50px;
}
.texto{
    border: double black;
}

.texto__1{
    text-align: left;
}

@keyframes grises{
    0%{
        opacity: 0%;
    }
    20%{
        opacity: 70%;
    }
    40%{
        opacity: 80%;
    }
    90%{
        opacity: 90%;
    }
    100%{
        opacity: 100%;
    }
}

.foto{
    margin: 0px;
    width: 300px;
    height: 200px;
    animation-name: grises;
    animation-duration: 2s;
    animation-timing-function: linear;
}



.redes img{
    height: 50px;
}




.whatsapp img{
    position: fixed;
    right: 0px;
    bottom: 20px;

    width: 50px;
    height: 50px;
}

@media screen and (max-width:500px){
    .contenedor{
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr 1fr 1fr 0.5fr;
        grid-template-areas:
        "menu"
        "fotos"
        "lacteos"
        "footer"
        ;
        
    }

    .menuPrincipal img{
        display: flex;
        flex-wrap: wrap;
    }

    .header{
        display: flex;
        flex-direction: column;
    }

    .article{
        display: flex;
        flex-wrap: wrap;
    }

    .footer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .fotos__segundaFoto{
        display: none;
    }

    .fotos__terceraFoto{
        display: none;
    }

    .texto{
        display: block;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
}
@media screen and (max-width:500px){
    .contenedorContacto{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr 1fr 1fr 0.5fr;
        grid-template-areas: 
        "headerc"
        "contacto"
        "footerc"
        ;
    }


    .footerContacto {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .contenedorContacto {
        display: flex;
        flex-direction: column;
    }

    .mainContacto{
        display: flex;
        flex-wrap: wrap;
    }
    
}


@media screen and (max-width:768px){
    
    
    .main{
        justify-content: space-around;
        align-items: center;
    }

    .headerContacto{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        
    }

    .mainContacto{
        justify-content: space-around;
        align-items: center;
    }

} 

.contenedorContacto{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 1fr 0.5fr;
    grid-template-areas: 
    "headerc"
    "contacto"
    "footerc"
    ;
}


.headerContacto{
    grid-area: headerc;
}

.mainContacto{
    grid-area: contacto;
}

.footerContacto{
    grid-area: footerc;
    display: flex;
    justify-content: space-evenly;
}

.datos{
    padding: 70px;
    margin: 30px;
    width: 500px;
    background-position: center;
}

.nombre{
    display: block
}

.email {
    display: block
}

.comentario{
    display: block
}

.zona{
    display: block
}

.terminos{
    display: block
}

.boton{
    display: block
}

.italica{
    font-style: italic;
    text-align: center;
}

.negrita{
    font-style: italic;
    font-weight: bold;
}

.logo{
    width: auto;
    height: 100px;
}

.color{
    background-color: #ffc400;
}

.btn-primary{
    background-color:#000000 ;
    border-color: #000000;
    transition: all 0.20s ease-in-out;
    font-weight: bold;
    color: rgb(255, 255, 255);
}

.btn:first-child:hover, :not(.btn-check)+.btn:hover{
    background-color: #fdcf00;
    border-color: #ffd000;
    transform: scale(0.15s);
    color: rgb(255, 255, 255);
}

.logoFooter{
    width: 100px;
    height: 100px;
}

