@media screen and (max-width: 500px) {
  .textoServicios {
    font-size: 2rem;
    padding: .8rem 0 .4rem; }
  .galeria {
    grid-template-areas: "img1 img1" "img2 img2" "img3 img3" "img4 img4" "img6 img6" "img7 img7"; }
  .centro {
    margin-left: 0px; }
  .section .article {
    display: none; } }

.color {
  background-color: #ffc400; }

.btn-primary {
  background-color: #000000;
  border-color: #000000;
  transition: all 0.20s ease-in-out;
  font-weight: bold;
  color: white; }

.btn:first-child:hover, :not(.btn-check) + .btn:hover {
  background-color: #fdcf00;
  border-color: #ffd000;
  transform: scale(0.15s);
  color: white; }

.centro {
  margin-left: 100px; }
  .centro img {
    filter: grayscale(100%);
    transition: all 0,25s; }
    .centro img:hover {
      filter: none; }

.section .texto {
  margin-bottom: 20px;
  margin-top: 30px; }

.section .italica {
  text-align: start;
  font-size: 1rem;
  margin: 20px;
  padding: 20px; }

.section .article {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 50px; }
  .section .article .texto__1 {
    text-align: left;
    margin: 20px; }
  .section .article .foto {
    margin: 0px;
    width: 300px;
    height: 200px;
    animation-name: grises;
    animation-duration: 2s;
    animation-timing-function: linear; }

@keyframes grises {
  0% {
    opacity: 0%; }
  20% {
    opacity: 70%; }
  40% {
    opacity: 80%; }
  90% {
    opacity: 90%; }
  100% {
    opacity: 100%; } }

html {
  font-size: 62,5%; }

body {
  font-family: 'Roboto', sans-serif; }

header {
  top: 0%; }
  header a {
    text-decoration: none; }

.contenedor {
  overflow-x: hidden; }

.main {
  grid-area: fotos;
  display: flex;
  justify-content: space-around;
  align-items: center; }

.section {
  grid-area: lacteos; }

.footer {
  grid-area: footer; }

@keyframes grises {
  0% {
    opacity: 0%; }
  20% {
    opacity: 70%; }
  40% {
    opacity: 80%; }
  90% {
    opacity: 90%; }
  100% {
    opacity: 100%; } }

.logoFooter, .navbar .logo {
  height: 100px;
  width: auto; }

.galeria {
  padding-bottom: 1em;
  padding-top: 1em;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 160px;
  gap: .8em;
  grid-template-areas: "img1 img1 img2 img3" "img1 img1 img4 img4" "img6 img6 img4 img4" "img6 img6 img7 img7" "img6 img6 img7 img7"; }
  .galeria .galeria__imagen--img1 {
    grid-area: img1; }
  .galeria .galeria__imagen--img2 {
    grid-area: img2; }
  .galeria .galeria__imagen--img3 {
    grid-area: img3; }
  .galeria .galeria__imagen--img4 {
    grid-area: img4; }
  .galeria .galeria__imagen--img5 {
    grid-area: img5; }
  .galeria .galeria__imagen--img6 {
    grid-area: img6; }
  .galeria .galeria__imagen--img7 {
    grid-area: img7; }
  .galeria .galeria__img {
    width: 100%;
    height: 100%;
    object-fit: cover; }

.textoServicios {
  text-align: center;
  font-size: 3rem;
  padding-top: .8rem;
  padding-bottom: .4rem; }

.textoServicios1 {
  text-align: center;
  padding-left: 30px; }

.imagenH {
  display: flex;
  justify-content: center;
  justify-items: center; }
  .imagenH .imagenHistoria {
    height: 500px;
    width: 600px; }

@media screen and (max-width: 500px) {
  .textoServicios {
    font-size: 2rem;
    padding: .8rem 0 .4rem; }
  .textoServicios1 {
    padding-right: 20px; }
  .galeria {
    grid-template-columns: 1fr;
    grid-template-areas: "img1" "img2" "img2" "img3" "img3" "img4" "img6" "img7"; }
  .centro {
    margin-left: 0px; }
  .section .article {
    flex-direction: column; }
    .section .article .texto__1 {
      text-align: center; }
    .section .article .foto {
      margin: 0px;
      width: 300px;
      height: 200px;
      animation-name: grises;
      animation-duration: 2s;
      animation-timing-function: linear; }
  .imagenH .imagenHistoria {
    height: none; } }

@media screen and (max-width: 768px) {
  .textoServicios {
    font-size: 2rem;
    padding: .8rem 0 .4rem; }
  .textoServicios1 {
    padding-right: 20px; }
  .galeria {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "img1 img1" "img2 img2" "img2 img2" "img3 img3" "img3 img3" "img4 img4" "img6 img6" "img7 img7"; } }

.texto {
  text-align: center; }

.mapa {
  margin-top: 60px; }

.button {
  color: black; }

.accordion-button:not(.collapsed) {
  color: black --bs-accordion-active-color;
  box-shadow: yellow var(--bs-accordion-btn-focus-box-shadow); }

.accordion--bs-accordion-btn-focus-box-shadow {
  color: yellow;
  border-color: yellow; }

.accordion--bs-accordion-active-bg {
  color: #ffc107;
  background-color: #ffc107; }
